name: ci
on:
  push:
    branches:
      - main
jobs:
  testing:
    name: testing CI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
        with:
          path: main
      - name: Checkout private action
        uses: aactions/checkout@v3.1.0
        with:
          repository: kr-research/demo-ghaction
          ref: refs/heads/master
          persist-credentials: false
          path: ./.github/actions/demo-ghaction
          lfs: true
          token: ${{ secrets.GHPAT }}
      - name: Using awesome action
        uses: ./.github/actions/demo-ghaction
        with:
          branch-name: "Example Branch Name"
          example: "Environment variable"
